.logo{
    background-image: url("images/backgrounds/h_img.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    
}

#logo{
    margin-top: 218px;
    margin-bottom: 20px;
}
#mouse{
    margin-top: 150px;
    margin-bottom: 30px;
}
#about{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
}
#h3{
    padding-top: 95px;

}


.services{
    background-image: url("images/backgrounds/s_image.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}
#bottom{
    padding-bottom: 100px;
}
#what{
    padding-top: 40px;
    text-align: center;
}
#development, #product, #design{
    padding-top: 60px;
}
#development, #product{
    padding-left: 40px;
}
.d-flex{
    margin-bottom: 100px;
}
#designP, #devP, #productP{
    text-align: center;
    display: none;
}
.grid #work1, #work2, #work3, #work4{
    width: 50%;
   
}
#portofolio{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.grid #work5, #work6, #work7, #work8{
    width: 50%;
}
#contactUs{
    height: 100%;
    width: auto;
    margin-top: 40px;
    background-image: url("images/backgrounds/c_image.jpg");
    background-size: cover;
}

#contact{
    text-align: center;
    color: white;
    
}
@media only screen
and (min-width: 360px) 

{ body{
    font-size: 14px;
}
h1, h3, h3{
    font-size: 14px;
}
.grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.grid #development, #product{
    margin-left: -40px;
}
.grid h4{
    font-size: 14px;
}
#items1{
    margin-bottom: 20px;
    }
    #items2{
        margin-bottom: 20px;
    }
    #inputEmail, #inputName, #inputMessage{
        background-color: transparent;
        border-radius: 0px;
        color: white;
    }
    ::placeholder{
        color: white;
        opacity: 1;
    }

}



